@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,600,700,900|PT+Serif:200,400,600,700,900');
@import 'mixins';
@import 'navigation';
@import 'carousel';
@import 'footer';
@import 'allCookiesComp';
@import 'bestSellerComp';
@import 'followComponent';

.main {
    margin-top: 30px;
}

.gray{
    background: lightgray;
    height: 100px;
    margin-bottom: 0;
}