@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,600,700,900|PT+Serif:200,400,600,700,900');

$headers: 'PT Serif',
serif;
$para: 'Nunito',
sans-serif;
$text-color: #191919;
$green: #c0e8dd;
$pink: #f6d9ea;
$blue: #d2d5ea;

.nav {
    margin-top: 40px;
    align-items: center;
}

.brand {
    flex-basis: 25%;
    text-align: center;
    margin-left: 70px;
}

.brand-link {
    font-family: $headers;
    font-size: 1.5em;
    color: $text-color;
    a {
        color: $text-color;
    }
    &:hover {
        text-decoration: none;
        color: $text-color;
    }
}

.nav-link {
    color: $text-color;
    font-family: $para;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
    letter-spacing: -.5px;
    a {
        color: $text-color;
    }
    &:hover {
        color: $pink;
    }
}

.active {
    color: $pink;
}

.cart-text {
    margin-top: .5em;
    margin-left: .3em;
    color: white;
}

.container{
    margin-top: 30px;
}

.carousel{
    background-color: $pink;
    height: 578px;
}

/**** BEST SELLER COMPONENT *********/
.best-sellers{
    width: 85%;
    margin: auto;
    margin-top: 90px;
}

.heading h2{
    font-family: $para;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .05em;
    font-weight: 600;
}
.subheading p{
    font-family: $headers;
    text-align: center;
    font-size: .80em;
    margin-top: 25px;
    margin-bottom: 40px;
}

.best-sellers-items{
    justify-content: space-around;
}

.bs-item{
    border: none !important;
    background: none !important;
    border-radius: 0px !important;
}

// .card-img-top{
//     // height: 282px !important;
//     // background-color: black;
// }

.card-text{
    text-align: center;
    margin-top: -10px;
}
.item-name{
    font-family: $para;
    text-transform: uppercase;
    color: $text-color;
    font-size: .95em;
    font-weight: 600;
}
.item-price{
    font-family: $headers;
    color: $text-color;
    font-size: .8em;
    // font-weight: 500;
    letter-spacing: -.5px;
}

/********* FOLLOW COMPONENT **********/
.follow-component{
 height: 650px;
 margin-bottom: 30px;
}

.jumbo-follow{
    height: 300px;
    h1{
        font-size: 1.75em;
        text-align: center;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.follow{
    width: 80%;
}

.follow-items{
    justify-content: space-around;
}

.follow-item{
    border: none !important;
    background: none !important;
    border-radius: 0px !important;
}
.row.follow-items{
    margin-bottom: 50px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding: 5px;
    }
  }

/********* FOOTER COMPONENT ********/
.jumbo-footer{
    background-color: $pink;
    margin-top: 100px;
}
.footer-comp{
    padding: 30px 200px 30px 150px;
}